
footer {
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.continuesFooter nav ul {
  list-style: none;
  padding: 0;
}

.continuesFooter ul li {
  display: inline;
  margin: 0 10px;
}

footer nav ul li a {
  text-decoration: none;
  color: tomato;
}

.continuesFooter ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;

}

footer p {
  margin: 0 40px;
  font-size: 14px;
  color: #777;
  text-align: left;
}
